* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", serif;
  font-size: 22px;
}
body {
  background-color: #222;
  color: aliceblue;
}
header {
  width: 100vw;
  height: 44vh;
  border-bottom: 10px solid white;
  position: relative;
}
.header_para {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_para button {
  width: 210px;
  height: 80px;
  margin: 20px 0 0 20px;
}
h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}
.random_number {
  width: 180px;
  height: 150px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: #222;
  font-size: 70px;
}
main {
  width: 100vw;
  height: 56vh;
  border: 0.5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#guessInput {
  width: 350px;
  height: 150px;
  text-align: center;
  color: #eee;
  font-size: 70px;
  display: block;
  background-color: #222;
  border: 7px solid #eee;
}
.checkbtn {
  width: 200px;
  height: 70px;
  margin: 50px 0 0 72px;
}
.result {
  margin: 0 0 100px 0;
}
.score {
  margin-bottom: 30px;
}
.icon {
  width: 50px;
  height: 30px;
  background-color: #eee;
}
